.card-profile {
  margin: 20px;
  padding: 20px;
  background: linear-gradient(135deg,#111111);
  color:white;
  border-radius:25px;
  text-align:center;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 30px;
  object-fit: cover;
  border:4px solid #fff;
  margin-bottom:10px;
}

.card-desc {
  background: #4f8cff;
  margin:20px;
  padding:20px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 4px 14px rgba(0,0,0,0.1);
}
