<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-profile">
    <img src="assets/2.jpg" class="profile-img" />

    <h2>Nur Hafizhatul Lail</h2>
    <p><b>NIM:</b> 23090029</p>
    <p><b>Prodi:</b> Rekayasa Perangkat Lunak</p>
    <p><b>Semester:</b> 5</p>
    <p><b>Email:</b> nurhafizhatul@gmail.com</p>
  </div>

  <div class="card-desc">
    <p>
      Aplikasi Jobportal adalah solusi digital bagi pencari kerja untuk menemukan peluang kerja yang sesuai dengan keahlian, 
      serta mengelola lamaran pekerjaan secara mudah dan praktis
    </p>
  </div>

  <h2 style="text-align:center; margin-top:10px;">Informasi Kontak</h2>

</ion-content>
