.page-bg {
  --background: #0f1116;
}

.header-box {
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

.job-card {
  background: #1b1e25;
  color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 12px rgba(0, 132, 255, 0.25);

  ion-card-title {
    font-size: 20px;
    font-weight: 700;
  }

  ion-card-subtitle {
    opacity: .7;
    font-size: 14px;
  }
}

.deskripsi {
  margin-top: 8px;
  opacity: .8;
  font-size: 14px;
}

ion-button {
  margin-top: 10px;
  font-weight: bold;
  --border-radius: 15px;
}
